---
const { lang } = Astro.props;

const content = {
    ne: {
        title: "जनशक्ति विवरण",
        text: "नगरपालिकामा कार्यरत कर्मचारीहरूको विवरण।",
        tableHeaders: ["पद", "स्वीकृत दरबन्दी", "कार्यरत संख्या"],
        tableRows: [
            ["अधिकृत स्तर", "१५", "१२"],
            ["सहायक स्तर", "४५", "४०"],
            ["श्रेणीविहिन", "२५", "२४"],
            ["स्वास्थ्य सेवा", "५५", "५०"],
            ["प्राविधिक सेवा", "२०", "१८"],
        ],
    },
    en: {
        title: "Human Resource Profile",
        text: "Details of employees working in the municipality.",
        tableHeaders: ["Position", "Approved Posts", "Working Count"],
        tableRows: [
            ["Officer Level", "15", "12"],
            ["Assistant Level", "45", "40"],
            ["Support Staff", "25", "24"],
            ["Health Services", "55", "50"],
            ["Technical Services", "20", "18"],
        ],
    },
};

const t = content[lang];
---

<div class="mb-16">
    <h2
        class="text-2xl md:text-3xl font-bold mb-4 text-slate-100 border-b border-slate-600 pb-2"
    >
        8.1 {t.title}
    </h2>

    <p class="text-slate-300 text-lg leading-relaxed mb-8">
        {t.text}
    </p>

    <div class="overflow-x-auto my-8  shadow border border-slate-700">
        <table class="w-full text-left border-collapse">
            <thead class="bg-slate-800">
                <tr>
                    {
                        t.tableHeaders.map((header) => (
                            <th class="p-4 font-bold text-slate-300 border-b border-slate-600 whitespace-nowrap">
                                {header}
                            </th>
                        ))
                    }
                </tr>
            </thead>
            <tbody>
                {
                    t.tableRows.map((row) => (
                        <tr class="hover:bg-slate-900 border-b border-slate-700 last:border-0 transition-colors">
                            {row.map((cell) => (
                                <td class="p-4 text-slate-300 border-b border-slate-700 font-medium">
                                    {cell}
                                </td>
                            ))}
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </div>
</div>
